<a href="https://colab.research.google.com/github/musyoka-u/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*python* coding

In [ ]:
# creation of arrays
import numpy as np
arr = np.array([1, 2, 3, 4])
print(arr)
print(type(arr))

#creation of an array using tuple
arr = np.array((1, 2, 3, 4))
print(arr)

#creation of 2d array
arr = np.array([[1, 2, 3, 4,], [5, 6, 7, 8]])
print(arr)
print(type(arr))

#creation of 3d array
arr = np.array([[[1, 2, 3], [4, 5, 6], [7, 8, 9]]])
print(arr)
print(type(arr))

#to chek on array dimenssion
k = np.array(4)
L = np.array([2, 3, 4])
M = np.array([[5, 6, 7], [40, 30, 20]])
Q = np.array([[[8, 9, 10], [11, 12, 13]], [[14, 15, 16], [17, 18, 19]]])
H = np.array([[[[10, 60, 50], [76, 86, 96], [56, 66, 26],[73, 63, 53]]]])
print(k.ndim)
print(L.ndim)
print(M.ndim)
print(Q.ndim)
print(H.ndim)

[1 2 3 4]
<class 'numpy.ndarray'>
[1 2 3 4]
[[1 2 3 4]
 [5 6 7 8]]
<class 'numpy.ndarray'>
[[[1 2 3]
  [4 5 6]
  [7 8 9]]]
<class 'numpy.ndarray'>
0
1
2
3
4

In [ ]:
#array indexing
import numpy as np
#this how to access element in array
#example: to access elements in 1D array
arr = np.array([11, 2, 3, 4])
print(arr[3]) # this prints the value at position four


#example 2
#to access element in a 2D array
arr = np.array([[1, 2, 9], [4, 5, 6]])

print(arr[1]) #printing elements in first column
print(arr[0, 2]) # printing element in first column at position 3
print(arr[1]) #printing elements in the second column
print(arr[1, 2]) #printing elements in 2nd column at position 3


#exmaple 3:
#to acces elements in 3d array
arr = np.array([[[10, 20, 30], [40, 50, 60]], [[70, 80, 90], [110, 120, 100]]])

print(arr.ndim)
print(arr[0, 1, 2]) # printing element in first slot = [10, 20, 30], [40, 50, 60]:# second column value at position 3,#[40, 50, 60].

print(arr[1, 0, 1]) # printing element in second slot = [70, 80, 90], [110, 120, 100] :# first column value at position 2,# [70, 80, 90].

#Negative indexing
#in negative indexing elements counting position in an array stars from at the end of am array
#example
#to access element in a 2D array using negative indexing
arr = np.array([[1, 2, 9], [4, 5, 6]])

print(arr[0, -1]) #this prints elements in fist column array value at position 3
print(arr[1, -2]) # this prints element in second column array value at position 2
print(arr[-1, -3]) # this prints element in second column array value at position 1

4
[4 5 6]
9
[4 5 6]
6
3
60
80
9
5
4

In [ ]:
#slicing of numpys
#Slicing in python means taking elements from one given index to another given index.
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(arr[0:3])

#slince from binging to index 3;
print(arr[:4])

#slince from index 3 to the end of array

print(arr[3:])
#slicing of 2D array
arr =np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print(arr[0, 0:4])
print(arr[1, 1:4])

# using step value in slicing
arr = np.array([3, 4, 5, 6, 7, 8, 9,])
print(arr[1:5:2])# prints element in position [1] and any other element when you jump one step that are in between index [5]

[1 2 3]
[1 2 3 4]
[4 5]
[1 2 3 4]
[6 7 8]
[4 6]

In [ ]:
import pandas as pd
'''
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.
'''
mydataset= {
    'cars': ["toyota","mazda", "sumbaru", "v8"],
    'passing':[4, 7, 8, 10]
}
today = pd.DataFrame(mydataset)
print(today)

      cars  passing
0   toyota        4
1    mazda        7
2  sumbaru        8
3       v8       10

In [ ]:
# lableling in pandas
import pandas as pd
#example to demonstrate the number of trophys a tearm has
mydataset = {"manchester united":20, "chelsea":6, "manchester city":10, "liverpool fc":19}
champions = pd.Series(mydataset)
print(champions)
A = ["football", "basketball", "netball"]
my_hobby =pd.Series(A, index = ["x", "y", "z"])
print(my_hobby)

manchester united    20
chelsea               6
manchester city      10
liverpool fc         19
dtype: int64
x      football
y    basketball
z       netball
dtype: object

In [ ]:
#pandas dataframes
import pandas as pd
data = {
    "students":["caleb", "christine", "chalse", "josphat", "faith"],
    "KCPE_results":[470, 420, 390, 387, 378]
}
df =pd.DataFrame(data, index = ["A", "B", "C", "y", "p"])
print(df)

#to locate name ndex we use "loc" key
#example lets locate the best student
print(df.loc["A"])

'''
pandas can also read data if stored in csv file  by:
df = pd.read_csv('data.csv')
then use print(df) function to read the data
'''

    students  KCPE_results
A      caleb           470
B  christine           420
C     chalse           390
y    josphat           387
p      faith           378
students        caleb
KCPE_results      470
Name: A, dtype: object

"\npandas can also read data if stored in csv file  by:\ndf = pd.read_csv('data.csv')\nthen use print(df) function to read the data\n"